.mainContainer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #efebe9;
  border-bottom: 1px solid #efebe9;
  border-left: 1px solid #bdbdbd;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  border-right: 2px solid #bdbdbd;
  padding-top: 0.5%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deliveryText {
  font-size: 18px;
  font-weight: 600;
}

.percent {
  font-size: 25px;
  font-weight: 700;
  padding-top: 3%;
}

.lastText {
  font-size: 15px;
  font-weight: 600;
  color: #ffab40;
  padding-bottom: 5%;
}

.emailPerformance {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  align-items: center;
}

.performanceText {
  font-size: 20px;
  font-weight: 700;
  padding-right: 1%;
}
